<div align="center" class="body">
    <div class="head">{{over}}</div>
    <table>
        <tr>
            <td ng-click="fun('one')" ng-model="a">{{a}}</td>
            <td ng-click="fun('two')" ng-model="b">{{b}}</td>
            <td ng-click="fun('three')" ng-model="c">{{c}}</td>
        </tr>
        <tr>
            <td ng-click="fun('four')" ng-model="d">{{d}}</td>
            <td ng-click="fun('five')" ng-model="e">{{e}}</td>
            <td ng-click="fun('six')" ng-model="f">{{f}}</td>
        </tr>
        <tr>
            <td ng-click="fun('seven')" ng-model="g">{{g}}</td>
            <td ng-click="fun('eight')" ng-model="h">{{h}}</td>
            <td ng-click="fun('nine')" ng-model="i">{{i}}</td>
        </tr>
    </table>
</div>